<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- <title>Hello, world!</title> -->
  </head>

  <body>
    <div class="card-header"  style=" background-color: cadetblue;  margin-bottom:50px; font-weight:bold; font-size:xx-large;">  
      Stridely Solutions
      |
      <button routerLink = "/Main-Page" class="btn btn-info btn-info" style="background-color:deepskyblue;" name="submit_reg" value="Register"  type="submit">
        Home
      </button>
  </div> 

    <!-- <div class="card-header" style="text-align: center;  margin-left:50px; margin-right:50px; margin-bottom:50px; font-weight:bold; font-size:xx-large;">  
      Employee Form
    </div>  -->
    <div class="card" style="margin-left:50px; margin-right:50px; margin-bottom:50px;">  
        <div class="card-header" style="font-weight:bold; font-size:x-large;">  
        Employee latest details

        </div>        
        <div class="card-body">  
          <div class="table-responsive" style="max-height:385px;">  
            <table class="table mb-0" > 
              <thead>  
                <tr>  
                    <th>ID</th>  
                    <th>Name</th>  
                    <th>Email</th>  
                    <th>Employee Code</th>  
                    <th>Gender</th>  
                    <th>Designation</th>  
                    <th>Department</th>  
                    <th>DOB</th>  
                    <th>Salary</th>   
                </tr>  
            </thead>   
              <tbody>  
                <tr *ngFor="let list of empList"> 
                  <td>{{ list.id }}</td>  
                  <td>{{ list.name }}</td>  
                  <td>{{ list.email }}</td>  
                  <td>{{ list.employeeCode }}</td>  
                  <td>{{ list.gender }}</td> 
                  <td>{{ list.designationName }}</td>
                  <td>{{ list.departmentName }}</td>
                  <td>{{ list.dob }}</td>  
                  <td>{{ list.salary }}</td> 
                  <td>  
                  </td>  
                  <td><button class="btn btn-danger btn-block" name="submit_reg" value="delete" (click)="deletedata(list.id)" type="submit">Delete</button></td>
                  <td><button routerLink = "/Update-Employee" type="button" class="btn btn-info btn-block">Update</button></td> 

                </tr>  
              </tbody>  
            </table> 
          </div>  
          <button routerLink = "/Add-Employee" class="btn btn-info btn-block" name="submit_reg" value="Register" type="submit">Add New Employee</button>
      <router-outlet></router-outlet>
        </div>  
      </div>  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>