<!-- <div class="card-header"  style=" background-color: cadetblue;  margin-bottom:50px; font-weight:bold; font-size:xx-large;">  
      Stridely Solutions
      |
      <button routerLink = "/Main-Page" class="btn btn-info btn-info" style="background-color:deepskyblue;" name="submit_reg" value="Register"  type="submit">
        Home
      </button>
  </div>  -->

    <!-- <div class="card-header" style="text-align: center;  margin-left:50px; margin-right:50px; margin-bottom:50px; font-weight:bold; font-size:xx-large;">  
      Employee Form
    </div>  -->
    <div class="card" style=" margin-bottom:50px; margin-top:50px;">  
        <div class="card-header" style="font-weight:bold; font-size:x-large;">  
          Employee details
          <input type="text"  class="form-control" placeholder="Search Here" [(ngModel)]="term">
        </div>        
        <div class="card-body">  
          <div class="table-responsive" style="max-height:385px;">  
            <table class="table-striped table mb-0" > 
              <thead>  
                <tr>  
                    <th>ID</th>  
                    <th>Name</th>  
                    <th>Email</th>  
                    <th>Employee Code</th>  
                    <th>Gender</th>  
                    <th>Designation</th>  
                    <th>Department</th>  
                    <th>DOB</th>  
                    <th>Salary</th>   
                </tr>  
            </thead>   
              <tbody>  
                <tr *ngFor="let list of empList | filter:term"> 
                  <td>{{ list.id }}</td>  
                  <td>{{ list.name }}</td>  
                  <td>{{ list.email }}</td>  
                  <td>{{ list.employeeCode }}</td>  
                  <td>{{ list.gender }}</td> 
                  <td>{{ list.designationName }}</td>
                  <td>{{ list.departmentName }}</td>
                  <td>{{ list.dob | date:'dd:MMM:yyyy'}}</td>  
                  <td>{{ list.salary }}</td> 
                  <td>  
                  </td>  
                  <td><button class="btn btn-danger btn-block" name="submit_reg" value="delete" (click)="deletedata(list.id)" type="submit">Delete</button></td>
                  <td><button (click)="GetById(list.id)" type="button" class="btn btn-info btn-block">Update</button></td> 

                </tr>  
              </tbody>  
            </table> 
          </div>  
          <div class="text-center">
            <button routerLink = "/Add-Employee" class="btn btn-info btn-min-width" style=" margin-top: 10px; text-align: center;" name="submit_reg" value="Register" type="submit">Add Employee</button>
          </div>
      <router-outlet></router-outlet>
        </div>  
      </div>