<!-- <div class="card-header"  style=" background-color: cadetblue;  margin-bottom:50px; font-weight:bold; font-size:xx-large;">  
    Stridely Solutions
    |
    <button routerLink = "/Main-Page" class="btn btn-info btn-info" style="background-color:deepskyblue;" name="submit_reg" value="Register"  type="submit">
      Home
    </button>
    <span> | </span>
    <button routerLink = "/List-Employee" class="btn btn-info btn-info" style="background-color:deepskyblue;" name="submit_reg" value="Register"  type="submit">
        Employee
      </button>
</div>  -->

<form class="container contact-form border-light p-5"  >

    <p class="h4 mb-4">Wellcome to Admin Page </p>

    <!--<div class="custom-control custom-checkbox mb-4">
        <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
        <label class="custom-control-label" for="defaultContactFormCopy">Send me a copy of this message</label>
    </div> -->
    
    <!-- Send button -->
    <button routerLink = "/List-Department" class="btn btn-info btn-block" name="submit_reg" value="Register"  type="submit">Department</button>
    <button routerLink = "/List-Designation" class="btn btn-info btn-block" name="submit_reg" value="Register" type="submit">Designation</button>
    <router-outlet></router-outlet>
</form>