<!-- <div class="card-header"  style=" background-color: cadetblue;  margin-bottom:50px; font-weight:bold; font-size:xx-large;">  
    Stridely Solutions
    |
    <button routerLink = "/Main-Page" class="btn btn-info btn-info" style="background-color:deepskyblue;" name="submit_reg" value="Register"  type="submit">
      Home
    </button>
</div>  -->

<form class="container contact-form border-light p-5" [formGroup]="form" >
 
    <p class="h4 mb-4">Enter details to Add Department </p>
  
    <!-- Name -->
    <label>Department Name</label>
    <input type="text" id="designationName" [(ngModel)]="des.designationName" name="designationName"  class="form-control mb-4" placeholder="Name" formControlName="designationName" [ngClass]="{'is-invalid':
    form.get('designationName').touched && form.get('designationName').invalid}">
    <div class="invalid-feedback">
        <div>Input is required </div>
    </div>

    <!-- <div style="text-align: center "*ngIf="message == 1"></div>
    <h1>Department is Added Successfully</h1>
    </div> -->
    
    <!--<div class="custom-control custom-checkbox mb-4">
        <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
        <label class="custom-control-label" for="defaultContactFormCopy">Send me a copy of this message</label>
    </div> -->
    
    <!-- Send button -->
    <div class="text-center">
        <button class="btn btn-info btn-min-width" style=" margin-top: 10px; margin-right: 5px; text-align: center;" name="submit_reg" value="Register" [disabled]="!form.valid" (click)="registerNow()" type="submit">Submit</button>
        <button routerLink = "/List-Designation" class="btn btn-info btn-min-width" style=" margin-top: 10px; text-align: center;" name="submit_reg" value="Register" type="submit">Go to List</button>
    </div>
</form>