<!-- <div class="card-header"  style=" background-color: cadetblue;  margin-bottom:50px; font-weight:bold; font-size:xx-large;">  
    Stridely Solutions
    |
    <button routerLink = "/Main-Page" class="btn btn-info btn-info" style="background-color:deepskyblue;" name="submit_reg" value="Register"  type="submit">
      Home
    </button>
</div>  -->

  <body>
    <!-- <div class="card-header" style="text-align: center;  margin-left:50px; margin-right:50px; margin-bottom:50px; font-weight:bold; font-size:xx-large;">  
      Employee Form
    </div>  -->
    <div class="card" style="margin-left:50px; margin-right:50px; margin-bottom:50px; margin-top:50px;">  
        <div class="card-header" style="font-weight:bold; font-size:x-large;">  
          Designation details 
          <input type="text"  class="form-control" placeholder="Search Here" [(ngModel)]="term">
        </div>       
        
        <div class="card-body">  
          <div class="table-responsive" style="max-height:385px;">  
            <table class="table-striped table mb-0" > 
              <thead>  
                <tr>  
                    <th>Designation ID</th>  
                    <th>Designation Name</th>   
                </tr>  
            </thead>   
              <tbody>
                <tr *ngFor="let list of disList | filter:term"> 
                  <td>{{ list.designationId }}</td>  
                  <td>{{ list.designationName }}</td>
                  <td>  
                  </td>  
                  <td><button class="btn btn-danger btn-block" name="submit_reg" value="delete" (click)="deletedata(list.designationId)" type="submit">Delete</button></td>
                  <td><button type="button" (click)="GetById(list.designationId)" class="btn btn-info btn-block">Update</button></td> 

                </tr>  
              </tbody>  
            </table> 
          </div>  
          <div class="text-center">
            <button class="btn btn-info btn-min-width" style=" margin-top: 10px; text-align: center;" routerLink = "/Add-Designation" name="submit_reg" value="Register" type="submit">Add Designation</button>
          </div>
        </div>  
      </div>