<!DOCTYPE html>  
<html>  
<head>  
    <meta charset="utf-8" />  
    
</head>  

<body>  
    <!-- <h1>Add Employee</h1>   -->

<!-- Default form contact -->
<div class="card-header" style="text-align: center;  margin-left:50px; margin-right:50px; margin-bottom:50px; font-weight:bold; font-size:xx-large;">  
    Department Form
</div> 
<form class="container contact-form border-light p-5" [formGroup]="form" >

    <p class="h4 mb-4">Enter details to Add Department </p>

    <!-- Name -->
    <label>Department Name</label>
    <input type="text" id="departmentName" [(ngModel)]="dep.departmentName" name="departmentName"  class="form-control mb-4" placeholder="Name" formControlName="departmentName" [ngClass]="{'is-invalid':form.get('departmentName').touched && form.get('departmentName').invalid}" >
    <div class="invalid-feedback">
        <div>Input is required </div>
    </div>

     
    <!--<div class="custom-control custom-checkbox mb-4">
        <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
        <label class="custom-control-label" for="defaultContactFormCopy">Send me a copy of this message</label>
    </div> -->
    
    <!-- Send button -->
    <button routerLink = "/List-Department" class="btn btn-info btn-block" name="submit_reg" value="Register" (click)="registerNow()" type="submit">Submit</button>
    <button routerLink = "/List-Department" class="btn btn-info btn-block" name="submit_reg" value="Register" type="submit">Go to List</button>
    <router-outlet></router-outlet>
</form>

</body>  
</html>