<!DOCTYPE html>  
<html>  
<head>  
    <meta charset="utf-8" />  
    
</head>  

<body>  
    <!-- <h1>Add Employee</h1>   -->

<!-- Default form contact -->
<div class="card-header" style="text-align: center;  margin-left:50px; margin-right:50px; margin-bottom:50px; font-weight:bold; font-size:xx-large;">  
    Employee Form
</div> 
<form class="container contact-form border-light p-5"  >

    <p class="h4 mb-4">Enter details to Add employee </p>

    <!-- Name -->
    <label>Name</label>
    <input type="text" id="name" [(ngModel)]="emp.name" name="name"  class="form-control mb-4" placeholder="Name" >

    <!-- Email -->
    <label>Email</label>
    <input type="email" id="email" [(ngModel)]="emp.email" name="email" class="form-control mb-4" placeholder="E-mail" >

    <label>Employee Code</label>
    <div class="form-group">
        <input type="number" [(ngModel)]="emp.employeeCode"  name="employeeCode" id="employeeCode"  class="form-control my-input" placeholder="EmployeeCode">
     </div>

     
    <label>Gender</label>
    <div class="form-group">
        <input type="text" [(ngModel)]="emp.gender"  name="gender" id="gender"  class="form-control mb-4" placeholder="gender">
    </div>
     <!-- <div class="form-group">
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" [(ngModel)]="emp.gender" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline1">Male</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" [(ngModel)]="emp.gender" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline2">Female</label>
          </div>
        </div> -->

    <!-- Designation -->
    <label>Designation</label>
    <input type="number" id="designation" [(ngModel)]="emp.designation" name="designation"  class="form-control mb-4" placeholder="gender" >
    <!-- <select class="browser-default custom-select mb-4" [(ngModel)]="emp.designation" name="designation">
        <option value="" disabled>Choose option</option>
        <option *ngFor="let dis of disList"  value="dis.designationId">{{dis.designationName}}</option>
    </select> -->

    <!-- Department -->
    <label>Department</label>
    <input type="number" id="department" [(ngModel)]="emp.department" name="department"  class="form-control mb-4" placeholder="gender" >
    <!-- <select class="browser-default custom-select mb-4" id="department" name="department" [(ngModel)]="emp.department" name="department">
        <option value="" disabled>Choose option</option>
        <option *ngFor="let dep of depList" value="dep.departmentId">{{dep.departmentName}}</option>
    </select> -->

     
    <label>DOB</label>
    <div class="form-group">
        <input type="date" id="dob" [(ngModel)]="emp.dob" name="dob"  class="form-control my-input">
    </div>

    <label>Salary</label>
    <div class="form-group">
        <input type="number" name="salary" [(ngModel)]="emp.salary"  id="salary"  class="form-control my-input" placeholder="Salary">
     </div>
     
    <!--<div class="custom-control custom-checkbox mb-4">
        <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
        <label class="custom-control-label" for="defaultContactFormCopy">Send me a copy of this message</label>
    </div> -->
    
    <!-- Send button -->
    <button routerLink = "/List-Employee" class="btn btn-info btn-block" name="submit_reg" value="Register" (click)="registerNow()" type="submit">Send</button>
    <button routerLink = "/List-Employee" class="btn btn-info btn-block" name="submit_reg" value="Register" type="submit">Go to List</button>
    <router-outlet></router-outlet>
</form>

</body>  
</html>